// FONT
@import url('https://fonts.cdnfonts.com/css/exo-space');

// ANIMATIONS
@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);  // Inizia completamente fuori dal lato sx
    }
    100% {
        transform: translateX(0);  // Termina nella sua posizione originale
    }
}

@keyframes slideFromRight {
    0% {
        transform: translateX(100%);  // Inizia completamente fuori dal lato dx
    }
    100% {
        transform: translateX(0);  // Termina nella sua posizione originale
    }
}
@keyframes computerMovement {
    0%, 100% {
        transform: translateY(0) rotate(0deg);
    }

    10% {
        transform: translateY(10px) rotate(-3deg);
    }

    20% {
        transform: translateY(15px) rotate(-5deg);
    }

    30% {
        transform: translateY(10px) rotate(-3deg);
    }

    40%, 60% {
        transform: translateY(0) rotate(0deg);
    }

    70% {
        transform: translateY(-10px) rotate(3deg);
    }

    80% {
        transform: translateY(-15px) rotate(5deg);
    }

    90% {
        transform: translateY(-10px) rotate(3deg);
    }
}





body {

    padding: 0;
    margin: 0;
    box-sizing: border-box;

    // Font e colori
    -moz-osx-font-smoothing: grayscale;
    color: #f5f5f5;
    font-family: 'Exo Space', sans-serif;
    font-size: 25px;
                                                
    
    // Modifico il cursore 
    cursor: url('../../public/icons8-cursore-mano.svg'), auto;
}