@use "./general.scss";
@use "../styles/partials/variables" as *;

.container-fluid {
  padding-top: 10vh;
  margin: 0;
  width: 100%;
  min-height: 90vh;
  max-height: 100%;
  font-family: "Montserrat", sans-serif;

  #first {
    background-color: #000000;
    background-image: url($longUrl);
    background-size: 100% 100%;
    background-position: bottom;
    background-repeat: repeat;

    .home-intro {
      padding: 50px;
      padding-bottom: 7rem;
      height: auto;
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      // PRIMO CONTENUTO
      .content {
        animation: slideFromTop 1s forwards;
        width: 50%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        // First row of content
        .content-movement {
          margin-bottom: 1.5rem;
          width: max-content;

          div {
            padding: 0px 15px;
            border-radius: 12px;
            background-color: rgba(grey, 0.2);
            font-size: 2rem;
            font-weight: 600;
            letter-spacing: 0.05em;
            margin: 0;
            text-transform: capitalize;
            text-shadow: 3px 3px 0 #1f2127, -1px -1px 0 #1f2127,
              1px -1px 0 #1f2127, -1px 1px 0 #1f2127, 1px 1px 0 #1f2127;

            #sticker {
              animation: computerMovement 2s ease-in-out infinite;
              font-size: 50px;
              margin: 20px 0;
              display: inline-block;
              background-color: transparent;
            }

            span {
              color: white;
            }
          }
        }

        // Second row of content
        .content-primary {
          text-align: center;
          line-height: 5rem;
          margin-bottom: 2rem;

          h1 {
            text-transform: capitalize;
            font-weight: 700;
            font-size: 4.2rem;
            letter-spacing: 0.02em;
            margin: 0;
            color: $green;
            text-shadow: 3px 3px 0 #1f2127, -1px -1px 0 #1f2127,
              1px -1px 0 #1f2127, -1px 1px 0 #1f2127, 1px 1px 0 #1f2127;
          }
        }

        // Third row of content
        .content-secondary {
          margin-bottom: 2rem;
          text-align: center;
          width: 85%;

          p {
            line-height: 1.5;
            font-size: 1.5rem;
            font-weight: 700;
            letter-spacing: 0.04em;
            margin: 0;
            opacity: 0.9;
            color: white;

            span {
              color: $green;
              text-transform: uppercase;
            }
          }
        }
      }
    }

    // Tooling
    .tooling {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 6rem;
      width: 100%;
      background-image: url(../../public/endless-constellation.svg);

      .tooling-header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 0;
        border-radius: 10px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

        .tooling-title {
          background-color: rgba(grey, 0.2);
          align-items: center;
          border-radius: 12px;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          display: flex;
          justify-content: center;
          padding: 0 3rem;
          transition: 0.7s ease-in;

          h2 {
            color: white;
            font-family: "Orbitron", sans-serif;
            font-weight: 450;
            font-size: 2rem;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            border-right: green 5px solid;
            animation: cursor 1s infinite step-end,
              typing 12s infinite steps(12);
            white-space: nowrap;
            overflow: hidden;
            text-shadow: 3px 3px 0 #1f2127, -1px -1px 0 #1f2127,
              1px -1px 0 #1f2127, -1px 1px 0 #1f2127, 1px 1px 0 #1f2127;
          }
          .animated-icon {
            color: white;
            padding-left: 40px;
            padding-bottom: 30px;
            display: block;
            font-size: 2rem;
            animation: rotateIcon 8s infinite linear;
            text-shadow: 3px 3px 0 #1f2127, -1px -1px 0 #1f2127,
              1px -1px 0 #1f2127, -1px 1px 0 #1f2127, 1px 1px 0 #1f2127;
          }

          &:hover {
            transform: scale(1.05);
            box-shadow: 0 7px 20px rgba(0, 0, 0, 0.3);
          }
        }
      }

      .tooling-element {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 0;
        border-radius: 10px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

        .tooling-box {
          align-items: center;
          background: #0c8c34;
          border-radius: 15px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 0.5rem;
          width: 60%;

          .box-content {
            align-items: center;
            background: #021709;
            border-radius: 8px;
            display: flex;
            flex: 0 1 30%;
            height: 60px;
            justify-content: space-evenly;
            margin: 1%;

            .box-icon {
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              background: #021709;
              box-sizing: border-box;
              color: #f5f5f5;
              font-family: "Orbitron", sans-serif;
              font-size: 25px;
              margin: 0;
              padding: 0;
            }

            .techname {
              font-size: 20px;
              font-weight: 100;
              text-align: center;
              display: flex;
              align-items: center;
              justify-content: center;
              font-family: "Orbitron", sans-serif;
            }
          }
        }
      }
    }
  }
}

// WORKS
.work {
  width: 100%;
  height: auto;
  background-color: black;

  .work-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    // background-color: black;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

    .work-title {
      align-items: center;
      background-color: rgba(grey, 0.2);
      align-items: center;
      border-radius: 12px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: center;
      padding: 0 3rem;
      transition: 0.7s ease-in;

      i {
        color: white;
        padding-left: 20px;
        display: block;
        font-size: 2rem;
        font-weight: 600;
        animation: pulse 2s infinite;
      }

      h2 {
        font-family: "Orbitron", sans-serif;
        font-weight: 450;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        text-shadow: black 2px 2px;
        color: white;
        letter-spacing: 1.5px;
      }
    }
  }

  .projects {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5rem;

    .single:first-of-type {
      margin: 0rem 0;
    }

    .single {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: 6rem 0;
      width: 100%;

      .single-img {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 60%;

        img {
          border-radius: 15px;
          box-shadow: 0 60px 123px -25px hsla(225, 2%, 62%, 0.42),
            0 35px 75px -35px hsla(225, 2%, 62%, 0.08);
          -webkit-filter: blur(0);
          filter: blur(0);
          height: 398px;
          opacity: 1;
          -webkit-transform: perspective(800px) rotateY(25deg) scale(0.8)
            rotateX(10deg);
          transition: all 0.6s ease;
          width: 700px;
          transform: perspective(800px) rotateY(25deg) scale(0.8) rotateX(-5deg);

          &:hover {
            box-shadow: 0 19px 67px -38px hsla(225, 2%, 62%, 0.8);
            -webkit-filter: blur(0.2px);
            filter: blur(0.2px);
            opacity: 1;
            -webkit-transform: perspective(800px) rotateY(0deg) translateY(0px)
              rotateX(0deg) scale(1);
            transform: perspective(800px) rotateY(0deg) translateY(0px)
              rotateX(0deg) scale(1);
          }
        }

        .img-2 {
          transform: perspective(800px) rotateY(-25deg) scale(0.8) rotateX(5deg);

          &:hover {
            -webkit-transform: perspective(800px) rotateY(0deg) translateY(0px)
              rotateX(0deg) scale(1);
            transform: perspective(800px) rotateY(0deg) translateY(0px)
              rotateX(0deg) scale(1);
          }
        }
      }
    }

    .single-details {
      align-items: center;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
      width: 40%;

      h4 {
        text-align: center;
        border: 2px solid $green;
        box-shadow: 8px 8px 0 0 $green;
        color: $green;
        font-family: "Futura";
        font-weight: 600;
        margin-bottom: 2rem;
        padding: 1rem 1.5rem;
        transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

        &:hover {
          transform: rotate(5deg);
          box-shadow: 12px 12px 0 0 $green;
        }
      }

      .desc {
        font-family: sans-serif;
        line-height: 1.6;
        letter-spacing: 0.5px;
        font-weight: 400;
        padding: 1rem;
        text-align: center;
        border: 2px solid rgba(white, 0.6);
        box-shadow: 5px 5px rgba(white, 0.6);
      }

      .highlight {
        color: #2c3e50;
        background-color: #eaecee;
        padding: 2px 5px;
        border-radius: 5px;
        font-weight: bold;
      }

      .tech-used {
        font-family: "Montserrat", sans-serif;
        margin-top: 1.5rem;
        border: 2px solid $green;
        border-radius: 15px;
        background-color: rgba($green, 0.1);
        text-align: center;
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        li {
          list-style-type: none;
          background-color: #fff;
          color: black;
          padding: 0.5rem 1rem;
          border-radius: 7px;
          font-weight: 600;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: $green;
            color: #fff;
          }
        }
      }

      .last {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
        max-width: 100%;

        .project-date {
          margin: 1.5rem;
          font-size: 1.7rem;
          font-weight: 600;
          transition: transform 0.5s ease;
          text-shadow: 3px 3px 0 #1f2127, -1px -1px 0 #1f2127,
            1px -1px 0 #1f2127, -1px 1px 0 #1f2127, 1px 1px 0 #1f2127;

          &:hover {
            transform: scale(1.05);
          }

          span {
            display: inline-block;
            padding: 0.2rem 0.5rem;
            color: $green;
            text-transform: capitalize;
            transition: color 0.3s ease;
            text-shadow: 3px 3px 0 #1f2127, -1px -1px 0 #1f2127,
              1px -1px 0 #1f2127, -1px 1px 0 #1f2127, 1px 1px 0 #1f2127;
            text-decoration: underline;

            &:hover {
              color: lighten($green, 15%);
            }
          }
        }

        button {
          background-color: $green; // supponendo che tu voglia mantenere il tema viola, ma puoi sostituirlo con qualsiasi colore
          color: white;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          font-size: 16px;
          cursor: pointer;
          transition: background-color 0.3s ease, transform 0.3s ease;
          display: inline-flex; // per allineare correttamente l'icona e il testo
          align-items: center;

          i {
            margin-right: 8px; // spazio tra l'icona e il testo
          }

          &:hover {
            background-color: darken(
              $green,
              15%
            ); // scurisce il colore del pulsante quando si passa sopra con il mouse
            transform: translateY(
              -2px
            ); // dà un effetto di "sollevamento" al pulsante
          }

          &:active {
            transform: translateY(
              0
            ); // re-imposta la posizione del pulsante quando viene cliccato
          }

          a {
            text-decoration: none;
            font-weight: 700;
            color: inherit; // prende il colore dal genitore, in questo caso `button`
            display: flex; // per allineare correttamente l'icona e il testo
            align-items: center;
          }
        }
      }
    }
  }
}

// MEDIA QUERY

@media (max-width: 2500px) {
  .container-fluid {
    .work {
      .projects {
        .single {
          .single-img {
            img,
            video {
              width: 750px;
              height: auto;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1700px) {
  .container-fluid {
    #first {
      .home-intro {
        padding-bottom: 4rem;

        .content {
          width: 65%;
        }
      }
    }

    .work {
      .projects {
        .single {
          .single-details {
            p {
              font-size: 1.4rem;
            }
          }

          .last {
            .project-date {
              font-size: 1.5rem;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  .container-fluid {
    #first {
      .home-intro {
        .content {
          .content-primary {
            h1 {
              font-size: 3.8rem;
            }
          }
        }
      }
    }

    .work {
      .projects {
        .single {
          .single-img {
            img,
            video {
              width: 600px;
              height: auto;
            }
          }

          .single-details {
            p {
              font-size: 1.2rem;
            }
          }

          .last {
            .project-date {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .container-fluid {
    #first {
      .home-intro {
        flex-direction: column;

        .content {
          width: 80%;
          display: flex;
          justify-content: center;
          text-align: center;
          flex-direction: column;
          gap: 1.5rem;

          .content-movement {
            text-align: center;
            padding: 0;
            width: 80%;

            div {
              span {
                font-size: 1.6rem;
              }
            }
          }

          .content-primary {
            h1 {
              font-size: 3.4rem;
            }
          }
        }
      }

      .tooling {
        .tooling-header {
          .tooling-title {
            h2 {
              font-size: 1.5rem;
            }
          }
        }

        .tooling-box {
          .flex-row {
            img {
              width: 100%;
              height: 100px;
            }
          }
        }
      }
    }

    .work {
      .projects {
        .single {
          flex-direction: column;
          margin: 5rem 0;

          .single-img {
            order: 1;
            margin-bottom: 3rem;

            img,
            .img-2,
            video {
              width: 700px;
              transform: perspective(800px) rotateY(-25deg) scale(0.8)
                rotateX(5deg);

              &:hover {
                -webkit-transform: perspective(800px) rotateY(0deg)
                  translateY(0px) rotateX(0deg) scale(0.9);
                transform: perspective(800px) rotateY(0deg) translateY(0px)
                  rotateX(0deg) scale(0.9);
              }
            }
          }

          .single-details {
            order: 2;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            gap: 2rem;
            row-gap: 0.5rem;
            width: 100%;
            flex-wrap: wrap;

            h4 {
              width: 40%;
              order: 0;
            }

            .tech-used {
              width: 40%;
              order: 1;
            }

            .desc {
              padding: 1rem;
              text-align: center;
              width: 100%;
              order: 2;
              font-size: 1.5rem;
              border: 2px solid white;
              box-shadow: 5px 5px white;
            }

            .last {
              width: 40%;
              order: 3;
              justify-content: center;
              align-self: flex-start;

              .project-date {
                order: 0;
                font-size: 1.3rem;
              }

              button {
                order: 1;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .container-fluid {
    .work {
      .projects {
        .single {
          .single-details {
            h4 {
              width: 40%;
              order: 0;
            }

            .tech-used {
              width: 40%;
              order: 1;
            }

            .desc {
              width: 100%;
              order: 2;
              font-size: 1.2rem;
            }

            .last {
              width: 40%;
              order: 3;
              justify-content: center;
              align-self: flex-start;

              .project-date {
                order: 0;
                font-size: 1rem;
              }

              button {
                order: 1;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) and (min-width: 577px) {
  .container-fluid {
    .home-intro {
      .content {
        .content-movement {
          .sticker {
            display: block;
          }

          div {
            font-size: 1.5rem;
          }
        }

        .content-primary h1 {
          font-size: 1.8rem;

          span {
            font-size: 2.5rem;
          }
        }

        .content-secondary p {
          font-size: 1.2rem;
        }
      }

      .emoj img {
        width: 300px;
      }
    }

    .work {
      .projects {
        .single {
          .single-img {
            img,
            video,
            .img-2 {
              width: 500px;
              height: auto;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .container-fluid {
    #first {
      .home-intro {
        .content {
          .content-movement {
            div {
              font-size: 1.8rem;

              span {
                display: block;
                font-size: 1.8rem;
                line-height: 3rem;
              }
            }
          }

          .content-primary {
            margin-bottom: 0;

            h1 {
              font-size: 1.3rem;
              line-height: 4rem;

              span {
                font-size: 2.5rem;
              }
            }
          }

          .content-secondary {
            margin-bottom: 0;

            p {
              display: none;
            }
          }
        }

        .emoj img {
          width: 230px;
        }
      }

      .tooling {
        text-align: center;

        .tooling-title {
          h2 {
            font-size: 1.3rem;
          }

          .animated-icon {
            padding-left: 20px;
            font-size: 1.3rem;
          }
        }
      }
    }

    .work {
      .work-header {
        .work-title {
          text-align: center;

          h2 {
            font-size: 1.5rem;
          }

          a {
            font-size: 1.5rem;
          }
        }
      }

      .projects {
        padding: 0;

        .single {
          text-align: center;
          margin: 4.5rem 0;

          .single-img {
            margin-bottom: 1rem;

            img,
            video,
            .img-2 {
              width: 400px;
            }
          }

          .last {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            button {
              i {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .container-fluid {
    .home-intro {
      .content {
        line-height: 50px;

        .cv-button {
          font-size: 1.3rem;
        }

        .content-movement {
          div {
            font-size: 1.3rem;

            span {
              display: block;
              font-size: 1.3rem;
              text-transform: uppercase;
            }
          }
        }

        .content-primary h1 {
          font-size: 1.5rem;

          span {
            font-size: 1.7rem;
          }
        }

        .content-secondary p {
          font-size: 1.5rem;
        }
      }

      .emoj img {
        width: 230px;
      }
    }

    .tooling {
      .tooling-title {
        padding: 0 1rem;

        h2 {
          font-size: 1.1rem;
        }

        .animated-icon {
          font-size: 1.1rem;
          padding-left: 10px;
        }
      }
    }

    .work {
      .work-header {
        .work-title {
          text-align: center;

          h2 {
            font-size: 1.1rem;
          }

          i {
            font-size: 1.1rem;
          }
        }
      }

      .projects {
        .single {
          .single-img {
            img,
            video,
            .img-2 {
              width: 400px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .container-fluid {
    .home-intro {
      .content {
        line-height: 50px;

        .cv-button {
          font-size: 1rem;
        }

        .content-movement {
          div {
            font-size: 1.1rem;

            span {
              font-size: 1.1em;
            }
          }
        }

        .content-primary h1 {
          font-size: 1.3rem;

          span {
            font-size: 1.5rem;
          }
        }

        .content-secondary p {
          font-size: 1.3rem;
        }
      }

      .emoj img {
        width: 200px;
      }
    }

    #tech {
      .tooling-title {
        h2 {
          font-size: 0.9rem;
        }

        a {
          font-size: 0.9rem;
        }
      }
    }

    .work {
      .work-header {
        .work-title {
          text-align: center;

          h2 {
            font-size: 0.9rem;
          }

          i {
            font-size: 0.9rem;
          }
        }
      }

      .projects {
        .single {
          .single-img {
            img,
            video,
            .img-2 {
              width: 300px;
            }
          }
        }
      }
    }
  }
}
